<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
	<appSettings>
		<!-- Git本地工作目录 克隆之前必须保持为空文件夹-->
		<add key="GIT_LOCAL_DIRECTORY" value="D:\work\git_repo\ctms"/>
		<!--Git远程URL-->
		<add key="GIT_REMOTE_URL" value="192.168.131.211:9090/fdzl/ctms.git"/>
		<add key="GIT_USERNAME" value="xucy"/>
		<add key="GIT_USEREMAIL" value="xucy@ecrfplus.com"/>
		<add key="GIT_PASSWORD" value="a1234567"/>
	</appSettings>
</configuration>
