<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="REPO_PATH" value="D:\work\gei"/>
		<add key="COMMIT_RECORD_NUM" value="25"/>
		<!--CHOOSE:选择 INPUT:输入-->
		<add key="INPUT_TYPE" value="CHOOSE"/>
		<add key="SHOW_ONCE_AGAIN" value="true"/>
		<!--页面文件夹名称-->
		<add key="ASP_PATH" value="Asp"/>
		<add key="LAST_SELECTED_PATH" value=""/>
	</appSettings>
</configuration>
