<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="GIT_WORK_DIRECTORY" value="D:\work\gei"/>
		<add key="GIT_REMOTE_URL" value="D:\work\gei"/>
		<add key="GIT_USERNAME" value="D:\work\gei"/>
		<add key="GIT_PASSWORD" value="D:\work\gei"/>
	</appSettings>
</configuration>